header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

header p{
    color: #666;
}

main{
    display: flex;
    gap: 2rem
}

.paymentSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardSelection{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-list{
    transform: scale(125%);
    transition: 0.33s;
    background-color: rgb(0, 0, 0, 0%);
    border-style: none;
    color: var(--text-color);
}

.card-list:hover{
    color: var(--first-color);
}

.payButton{
    transition: 0.33s;
    font-weight: bold;
    background-color: var(--first-color);
    color: var(--white-color);
    max-width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-style: none;
    border-radius: 1rem;
}

.payButton:hover{
    cursor: pointer;
    filter: brightness(80%);
}

/*  TO DO: Añadir estilos para las cuadrículas de libros. No puedo probarlas en tiempo real
    porque no puedo agregar libros xd!!!
                                                                                -Eze
*/